# =========================
# Ignore specific folders
# =========================
Podcasts/
temp/
logs/
build/
dist/
bin/
out/


# *.png
*.jpg
*.jpeg
*.webp
*.pdf
*.html

# =========================
# Ignore all files of a type
# =========================
*.log
*.tmp
*.bak
*.cache
*.class
*.jar
*.war
*.zip
*.rar

# =========================
# IDE Files
# =========================
# .vscode/
# .idea/
*.iml

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Java
# =========================
# target/
*.class

# =========================
# Node.js
# =========================
node_modules/

# =========================
# Python
# =========================
# __pycache__/
# *.pyc

# =========================
# Ignore everything inside a folder
# except one file
# =========================
# folder_name/*
# !folder_name/README.md